/**
* black label creative theme
*
* @info		Small screen styling
* @version	2.0
* @author	Jasal Vadgama - http://blacklabelcreative.com/
**/

/**
* GENERAL
**/

/**
* HEADER
**/
#header h1 {
	margin: 50px 10px;
}

/**
* CONTENT
**/

/** Music **/
.music .album-image {
	float: left;
	margin-right: 15px;
	width: auto;
}
.music h1 span {
	display: block;
	margin-top: 0.5em;
}
.music ol {
	clear: both;
}

/**
* FOOTER
**/
#footer .music-links {
	margin-bottom: 30px;
}
#footer .music-links li {
	display: inline-block;
	margin-right: 15px;
}