/**
* Forms
**/

.contact-form {
    padding-top: 20px;
}
form p {
    margin: 0;
}
.form-row {
    margin-bottom: 1em;
}
label {
    display: block;
    margin-bottom: 1em;

    .contact-form & {
        margin-bottom: 5px;
        color: #657978;
        font: 14px/1.2em "RalewayBold", Verdana, "Lucida Grande", "Gill Sans", Arial, Helvetica, sans-serif;
        text-transform: uppercase;
    }
}
input[type="text"] {
    margin-bottom: 1em;
    padding: 8px 2%;
    width: 94%;

    .contact-form & {
        margin-bottom: 0;
    }
}
input[type="submit"] {
    float: right;
    margin: 0;
    padding: 0;
    background: none;
    border: 0;
    color: #72888b;
    font: 16px/1.2em "RalewayMedium", Verdana, "Lucida Grande", "Gill Sans", Arial, Helvetica, sans-serif;;
    text-transform: uppercase;
    cursor: pointer;
}
textarea {
    width: 96%;
}
