/**
* Widgets
**/

// Core
.widget {
    margin-bottom: 15px;
    padding: 15px;
    background: #d0ccb9;
    background: rgba(208, 204, 185, 0.3);
    color: #536162;

    h3 {
        margin-bottom: 0.5em;
        color: #72888b;
        font: 25px/1em "MontserratRegular", Verdana, "Lucida Grande", "Gill Sans", Arial, Helvetica, sans-serif;
        text-transform: uppercase;
    }
}

// Additional
@import "_widgets/promo";
@import "_widgets/social";
@import "_widgets/twitter";
