/**
* black label creative theme
*
* @info		Medium screen styling
* @version	2.0
* @author	Jasal Vadgama - http://blacklabelcreative.com/
**/

/**
* GENERAL
**/

/**
* HEADER
**/
#header h1 {
	margin: 70px 10px;
	width: 300px;
	height: 77px;
}
#header li {
	width: 15%;
	font-size: 18px;
	text-align: center;
}

/**
* MAIN CONTENT
**/
#pageWrapper {
	padding: 20px 10px 30px;
	overflow: hidden;
}

/**
* CONTENT
**/
#content {
	float: left;
	padding-bottom: 0;
	width: 63%;
}
.page-template-template-videos-php #content,
.page-template-template-music-php #content {
	width: 100%;
}

/** Videos **/
.videos article {
	float: left;
	margin-left: 5%;
	width: 47.5%;
}
.videos article:nth-child(2n) {
	margin-left: 0;
}

/** Music **/
.music article {
	margin-bottom: 3em;
	overflow: hidden;
}
.music header {
	float: left;
	width: 240px;
}
.music .album-image {
	float: none;
	margin-right: 0;
}
.music ol {
	clear: none;
	margin-left: 240px;
}
/** Music Promo **/
.music-promo {
	padding-bottom: 5px;
}
.music-promo h2 {
	margin-bottom: 1em;
	font-size: 25px;
	line-height: 1em;
}
.music-promo form {
	clear: none;
}
.music-promo input[type="text"] {
	float: left;
	width: 50%;
}
.music-promo input[type="submit"] {
	float: left;
	margin: 7px 0 0 15px;
}

/**
* SIDEBAR
**/
#sidebar {
	float: right;
	width: 33%;
}

/**
* FOOTER
**/
#footer nav {
	width: 66%;
}

/**
* MEDIA PLAYER
**/
.audio-player-inner {
	padding: 10px 10px 5px;
}
.audio-player .artwork {
	display: block;
	float: left;
	margin: 0 10px 5px 0;
	width: 45px;
	height: auto;
	border: 1px solid #1e3138;
}
.audio-player .select-track {
	float: left;
	width: 30%;
}